<div class="section section-youcando">
  <h2>You can do.</h2>
  <div class="content-columns">
    <div class="column-2 content-image">
      <img
        src="../../../../assets/img-youcando.svg"
        alt="your own shortcuts"
        width="190"
      />
    </div>
    <div class="column-2 content-text">
      <h3>
        Less clicking, more creating with your favorite apps.
      </h3>
      <p>
        Write a note, book a meeting, edit pictures for instagram, and
        talk with colleagues via a video call - Do your favorite actions
        directly on this browser with your URL shortcuts.
      </p>
    </div>
  </div>
</div>
