<app-app-list></app-app-list>
<app-app-detail></app-app-detail>
<div class="section page-title">
  <h1>Shortcuts</h1>
</div>
<style></style>
<div class="section section-apps">
  <h2>Connected Apps</h2>
  <section class="list-apps">
    <div class="ico-app is-connected" *ngFor="let ca of connectedApps">
      <img src="/assets/{{ca.appIcon}}" width="48"
           title="{{ca.appName}}"
           alt="{{ca.appName}}"
           (click)="cAppClicked(ca.appCode, ca.connectedId)"
           [style.pointer-events]="disableConnectedAppClick ? 'none' : 'auto'"
      />
    </div>
    <div class="btn add-new" [class.hidden]="hideAddNewBtn" (click)="showAppListModal()">
      <img src="/assets/ico-plus.svg" alt="add" width="16" />
    </div>
  </section>
</div>
<style>
</style>
<div class="section section-shortcuts">
  <h2>My Shortcuts</h2>
  <!-- Shortcuts List -->
  <div class="list-shortcuts" [class.hidden]="shortcuts?.length === 0 && urlRedirections?.length === 0">
    <ng-container *ngFor="let sf of shortcutForms">
      <div class="item-shortcut" [class.is-editing]="sf.editable">
        <div class="shortcut">
          <div class="shortcut-keyword" [attr.contenteditable]="sf.contentEditable" data-placeholder="New shortcut here..."
               (keyup)="shortcutFormPathCheck($event, sf)"></div>
          <div class="shortcut-url">
            <a href="https://my.new/" target="_blank" class="link-outer">
              <span><img src="/assets/logo.svg" alt="outlink" width="12" /></span>
              <span>https://my.new/</span>
              <span class="shortcut-url-with-keyword"></span>
            </a>
          </div>
        </div>
        <div class="app">
          <div class="ico-arrow">
            <img src="/assets/ico-arrow-right.svg" width="16" alt="arrow-right"/>
          </div>
          <div class="action">
            <div class="app-icon">
              <img src="/assets/{{sf.appIcon}}" width="42" alt="app-icon"/>
            </div>
            <div class="action-name">{{sf.description}}</div>
          </div>
          <div class="buttons">
            <div class="btn btn-save" [class.is-disabled]="!sf.enableSaveBtn" (click)="createShortcut(sf)">
              <svg viewBox="0 0 32 24" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8686 23.5286L0.46861 13.0688C-0.156203 12.4404 -0.156203 11.4215 0.46861 10.7931L2.7313 8.51731C3.35611 7.88884 4.36924 7.88884 4.99405 8.51731L12 15.5635L27.0059 0.471304C27.6308 -0.157101 28.6439 -0.157101 29.2687 0.471304L31.5314 2.74707C32.1562 3.37547 32.1562 4.39436 31.5314 5.02283L13.1314 23.5287C12.5065 24.1571 11.4934 24.1571 10.8686 23.5286Z" />
              </svg>
            </div>
            <div class="btn btn-delete" (click)="deleteForm(sf)">
              <img src="/assets/ico-trash.svg" width="16" alt="trash">
            </div>
            <div class="btn btn-edit" (click)="makeFormEditable(sf)"><img src="/assets/ico-pencil.svg" width="16" alt="pencil"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let uf of urlRedirectionForms">
      <div class="item-url-shortcut" [class.is-editing]="uf.editable">
        <div class="shortcut">
          <div class="shortcut-keyword" [attr.contenteditable]="uf.contentEditable" data-placeholder="New shortcut here..."
              (keyup)="urlRedirectionPathCheck($event, uf)"></div>
          <div class="shortcut-url">
            <a href="#" target="_blank" class="link-outer">
              <span><img src="/assets/logo.svg" alt="outlink" width="12" /></span>
              <span>https://my.new/</span>
              <span class="shortcut-url-with-keyword">{{uf.path}}</span>
            </a>
          </div>
        </div>
        <div class="app">
          <div class="ico-arrow">
            <img src="/assets/ico-arrow-right.svg" width="16" alt="arrow-right"/>
          </div>
          <div class="action">
            <div class="app-icon">
              <img src="/assets/ico-link.svg" width="42" alt="link"/>
            </div>
            <div class="app-url">
              <div class="action-name">A New URL Redirection</div>
              <div class="destination-url" contenteditable="true" data-placeholder="Your URL here...">{{uf.destinationUrl}}</div>
            </div>
          </div>
          <div class="buttons">
            <div class="btn btn-save" [class.is-disabled]="!uf.enableSaveBtn" (click)="createUrlRedirection(uf)">
              <svg viewBox="0 0 32 24" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8686 23.5286L0.46861 13.0688C-0.156203 12.4404 -0.156203 11.4215 0.46861 10.7931L2.7313 8.51731C3.35611 7.88884 4.36924 7.88884 4.99405 8.51731L12 15.5635L27.0059 0.471304C27.6308 -0.157101 28.6439 -0.157101 29.2687 0.471304L31.5314 2.74707C32.1562 3.37547 32.1562 4.39436 31.5314 5.02283L13.1314 23.5287C12.5065 24.1571 11.4934 24.1571 10.8686 23.5286Z" />
              </svg>
            </div>
            <div class="btn btn-delete" (click)="deleteUrlRedirectionForm(uf)">
              <img src="/assets/ico-trash.svg" width="16" alt="trash">
            </div>
            <div class="btn btn-edit" (click)="makeUrlRedirectionFormEditable(uf)"><img src="/assets/ico-pencil.svg" width="16" alt="pencil"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let s of shortcuts">
      <div class="item-shortcut" [id]="s.shortcutId" [class.is-editing]="s.editable">
        <div class="shortcut">
          <div class="shortcut-keyword" [attr.contenteditable]="s.contentEditable" data-placeholder="New shortcut here..."
               (input)="shortcutPathCheck($event, s)">{{s.path}}</div>
          <div class="shortcut-url">
            <a href="https://my.new/" target="_blank" class="link-outer">
              <span><img src="/assets/logo.svg" alt="outlink" width="12" /></span>
              <span>https://my.new/</span>
              <span class="shortcut-url-with-keyword">{{s.path}}</span>
            </a>
          </div>
        </div>
        <div class="app">
          <div class="ico-arrow">
            <img src="/assets/ico-arrow-right.svg" width="16" alt="arrow-right"/>
          </div>
          <div class="action">
            <div class="app-icon">
              <img src="/assets/{{s.appIcon}}" width="42" alt="app-icon"/>
            </div>
            <div class="action-name">{{s.description}}</div>
          </div>
          <div class="buttons">
            <div class="btn btn-save" [class.is-disabled]="!s.enableSaveBtn" (click)="updateShortcut(s)">
              <svg viewBox="0 0 32 24" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8686 23.5286L0.46861 13.0688C-0.156203 12.4404 -0.156203 11.4215 0.46861 10.7931L2.7313 8.51731C3.35611 7.88884 4.36924 7.88884 4.99405 8.51731L12 15.5635L27.0059 0.471304C27.6308 -0.157101 28.6439 -0.157101 29.2687 0.471304L31.5314 2.74707C32.1562 3.37547 32.1562 4.39436 31.5314 5.02283L13.1314 23.5287C12.5065 24.1571 11.4934 24.1571 10.8686 23.5286Z" />
              </svg>
            </div>
            <div class="btn btn-delete" (click)="deleteShortcut(s)">
              <img src="/assets/ico-trash.svg" width="16" alt="trash">
            </div>
            <div class="btn btn-edit" (click)="makeShortcutEditable(s)"><img src="/assets/ico-pencil.svg" width="16" alt="pencil"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let ur of urlRedirections">
      <div class="item-url-shortcut" [id]="ur.urlRedirectionId">
        <div class="shortcut">
          <div class="shortcut-keyword" contenteditable="true" data-placeholder="New shortcut here...">{{ur.path}}</div>
          <div class="shortcut-url">
            <a href="#" target="_blank" class="link-outer">
              <span><img src="/assets/logo.svg" alt="outlink" width="12" /></span>
              <span>https://my.new/</span>
              <span class="shortcut-url-with-keyword">{{ur.path}}</span>
            </a>
          </div>
        </div>
        <div class="app">
          <div class="ico-arrow">
            <img src="/assets/ico-arrow-right.svg" width="16" alt="arrow-right"/>
          </div>
          <div class="action">
            <div class="app-icon">
              <img src="/assets/ico-link.svg" width="42" alt="link"/>
            </div>
            <div class="app-url">
              <div class="action-name">A New URL Redirection</div>
              <div class="destination-url" contenteditable="true" data-placeholder="Your URL here...">{{ur.destinationUrl}}</div>
            </div>
          </div>
          <div class="buttons">
            <div class="btn btn-save is-disabled">
              <svg viewBox="0 0 32 24" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.8686 23.5286L0.46861 13.0688C-0.156203 12.4404 -0.156203 11.4215 0.46861 10.7931L2.7313 8.51731C3.35611 7.88884 4.36924 7.88884 4.99405 8.51731L12 15.5635L27.0059 0.471304C27.6308 -0.157101 28.6439 -0.157101 29.2687 0.471304L31.5314 2.74707C32.1562 3.37547 32.1562 4.39436 31.5314 5.02283L13.1314 23.5287C12.5065 24.1571 11.4934 24.1571 10.8686 23.5286Z" />
              </svg>
            </div>
            <div class="btn btn-delete">
              <img src="/assets/ico-trash.svg" width="16" alt="trash">
            </div>
            <div class="btn btn-edit" (click)="makeUrlRedirectionEditable(ur)"><img src="/assets/ico-pencil.svg" width="16" alt="pencil"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- Shortcuts List 상태: Empty -->
  <div class="list-shortcuts-empty" [class.hidden]="shortcuts?.length > 0 || urlRedirections?.length > 0">
    <img src="/assets/img-twinkle.png" alt="twinkle" />
    <p>
      There are no shortcuts you added.<br />Let’s try to
      <a href="#">create your first shortcut</a> now.
    </p>
  </div>
</div>
