<div class="section page-title">
  <h1>Shortcuts</h1>
</div>
<style></style>
<div class="section section-apps">
  <h2>Connected Apps</h2>
  <section class="list-apps">
    <app-connected-app *ngFor="let ca of connectedApps"
                       [connectedApp]="ca">
    </app-connected-app>
    <div class="btn ico-app add-new">
      <img src="../../../../assets/ico-plus.svg" alt="add" width="16" />
    </div>
  </section>
</div>
<style>
</style>
<div class="section section-shortcuts">
  <h2>My Shortcuts</h2>
  <!-- Shortcuts List -->
  <div class="list-shortcuts">
    <app-my-shortcut></app-my-shortcut>
  </div>
  <!-- Shortcuts List 상태: Empty -->
  <div class="list-shortcuts-empty">
    <img src="../../../../assets/img-twinkle.png" />
    <p>
      There are no shortcuts you added.<br />Let’s try to
      <a href="#">create your first shortcut</a> now.
    </p>
  </div>
</div>
