/* 팝업 공통 */

.popup-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

.popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "poppins", sans-serif;
  font-size: 1.33rem;
  font-weight: bold;
  line-height: 70px;
  padding: 0 20px;
}

.popup-header .btn-close {
  width: 42px;
  height: 42px;
}

.page-title {
  padding: 30px 0;
}

.ico-app {
  width: 60px;
  height: 60px;
  margin: 0 15px 21px 15px;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.ico-app:active {
  background-color: #eee;
}


/** Section Connected Apps **/

.section-apps {
  padding: 20px 0 60px 0;
}

.section-apps .list-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -21px;
}

.ico-app.add-new {
  width: 48px;
  height: 48px;
  margin: 6px 21px 21px 21px;
}
/** Section My Shortcuts **/

.section-shortcuts .list-shortcuts {
  padding: 0 0 60px 0;
}

.section-shortcuts .list-shortcuts-empty {
  text-align: center;
}

.section-shortcuts .card-shortcut,
.section-shortcuts .card-url-shortcut {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 12px;
}

.section-shortcuts .card-shortcut *,
.section-shortcuts .card-url-shortcut * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-shortcuts .card-shortcut .shortcut,
.section-shortcuts .card-url-shortcut .shortcut {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 40%;
  padding: 10px 18px;
  border-right: 1px solid #ddd;
}

.section-shortcuts .card-shortcut .shortcut .shortcut-keyword,
.section-shortcuts .card-url-shortcut .shortcut .shortcut-keyword {
  display: block;
  width: 100%;
  max-width: 230px;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.section-shortcuts .card-shortcut .shortcut .shortcut-url img,
.section-shortcuts .card-url-shortcut .shortcut .shortcut-url img {
  margin-right: 5px;
}

.section-shortcuts .card-shortcut .shortcut .shortcut-url a,
.section-shortcuts .card-url-shortcut .shortcut .shortcut-url a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.section-shortcuts
.card-shortcut
.shortcut
.shortcut-url
.shortcut-url-with-keyword,
.section-shortcuts
.card-url-shortcut
.shortcut
.shortcut-url
.shortcut-url-with-keyword {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 120px;
  display: block;
}

.section-shortcuts .card-shortcut .app,
.section-shortcuts .card-url-shortcut .app {
  position: relative;
  width: 60%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px 0 32px;
}

.section-shortcuts .card-shortcut .app .ico-arrow,
.section-shortcuts .card-url-shortcut .app .ico-arrow {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 5px;
  left: -20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: white;
}

.section-shortcuts .card-shortcut .app .buttons .btn,
.section-shortcuts .card-url-shortcut .app .buttons .btn {
  width: 42px;
  height: 42px;
  margin-left: 8px;
}

.section-shortcuts .card-shortcut .app .connected-app .app-icon,
.section-shortcuts .card-url-shortcut .app .connected-app .app-icon {
  margin-right: 10px;
}

.section-shortcuts .card-url-shortcut .app .connected-app .app-url {
  display: block;
}

.section-shortcuts .card-shortcut .app .connected-app .app-name,
.section-shortcuts .card-url-shortcut .app .connected-app .app-url .app-name {
  display: block;
  max-width: 240px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.section-shortcuts .card-url-shortcut .app .connected-app .app-url .app-name {
  margin-bottom: 3px;
}

.section-shortcuts
.card-url-shortcut
.app
.connected-app
.app-url
.destination-url {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  max-width: 240px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/*** 카드 상태별 스타일 ***/

/* 다른 카드 편집 중일 때 */

.section-shortcuts .card-shortcut.cantEdit,
.section-shortcuts .card-url-shortcut.cantEdit {
  opacity: 0.5;
  cursor: not-allowed;
}

.section-shortcuts .card-shortcut.cantEdit .app .connected-app .app-name,
.section-shortcuts
.card-url-shortcut.cantEdit
.app
.connected-app
.app-url
.app-name,
.section-shortcuts
.card-url-shortcut.cantEdit
.app
.connected-app
.app-url
.destination-url {
  max-width: 290px;
}

.section-shortcuts .card-shortcut.cantEdit .buttons,
.section-shortcuts .card-url-shortcut.cantEdit .buttons {
  display: none;
}

/* 카드 편집 중일 때 */

.section-shortcuts .card-shortcut.isEditing,
.section-shortcuts .card-url-shortcut.isEditing {
  border: 1px solid #bbb;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.section-shortcuts .card-shortcut.isEditing [contenteditable="true"] br,
.section-shortcuts .card-url-shortcut.isEditing [contenteditable="true"] br {
  display: none;
}

.section-shortcuts .card-shortcut.isEditing [contenteditable="true"] *,
.section-shortcuts .card-url-shortcut.isEditing [contenteditable="true"] * {
  display: inline;
  white-space: nowrap;
}

.section-shortcuts .card-shortcut.isEditing .shortcut,
.section-shortcuts .card-url-shortcut.isEditing .shortcut {
  min-height: 68px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-shortcuts .card-shortcut.isEditing .shortcut-url,
.section-shortcuts .card-url-shortcut.isEditing .shortcut-url {
  display: none;
}

.section-shortcuts .card-shortcut.isEditing .shortcut .shortcut-keyword,
.section-shortcuts .card-url-shortcut.isEditing .shortcut .shortcut-keyword {
  outline: 0;
  margin-bottom: 0;
  overflow: hidden;
  -o-text-overflow: unset;
  text-overflow: unset;
  cursor: text;
}

.section-shortcuts
.card-url-shortcut.isEditing
.app
.connected-app
.app-url
.app-name {
  display: none;
}

.section-shortcuts .card-shortcut.isEditing .app .connected-app .app-name,
.section-shortcuts
.card-url-shortcut.isEditing
.app
.connected-app
.app-url
.destination-url {
  max-width: 200px;
}

.section-shortcuts
.card-url-shortcut.isEditing
.app
.connected-app
.app-url
.destination-url {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline: 0;
  overflow: hidden;
  -o-text-overflow: unset;
  text-overflow: unset;
  cursor: text;
}
