<div class="section section-howtouse">
  <h2>How to use.</h2>
  <div class="content-columns">
    <div class="column-3">
      <div class="badge-number">1</div>
      <div class="img-frame">
        <img
          src="../../../../assets/img-howto01.svg"
          alt="connect an app"
          width="167"
        />
      </div>
      <h4>
        Connect an app
      </h4>
      <p>
        Connect your favorite app. You can add the creating action of
        the app to your dashboard.
      </p>
    </div>
    <div class="column-3">
      <div class="badge-number">2</div>
      <div class="img-frame">
        <img
          src="../../../../assets/img-howto02.svg"
          alt="set a shorcut"
          width="75"
        />
      </div>
      <h4>
        Set a shortcut
      </h4>
      <p>
        Set a simple word for calling the action of the app you
        connected by URL shortcut.
      </p>
    </div>
    <div class="column-3">
      <div class="badge-number">3</div>
      <div class="img-frame">
        <img
          src="../../../../assets/img-howto03.svg"
          alt="run a shortcut"
          width="180"
        />
      </div>
      <h4>
        Run your shortcut
      </h4>
      <p>
        Type the URL shortcut (my.new/...) into the address bar of your
        web browser.
      </p>
    </div>
  </div>
</div>
