<header class="page-header">
  <div class="page-header-brand logo">
    <img src="/assets/logo.svg" alt="logo"/><span class="logo-title">my.new</span>
  </div>
  <div class="page-header-navi">
    <div class="page-header-navi-items">
      <button data-feedback-fish class="navi-item">
        Give us feedbacks
      </button>
      <!-- 로그인 한 경우 data-feedback-fish-userid 를 attribute에 추가한다. -->
      <!-- <button data-feedback-fish data-feedback-fish-userid="유저아이디" class="navi-item">
        Give us feedbacks
      </button> -->
      <a href="https://offf.to/help" class="navi-item" target="_blank">Help</a>
      <div id="buttonSignIn" class="btn" (click)="showLogin()" *ngIf="!isLogin">
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/key_1f511.png"
             alt="sign in emoji"/>
        <span>Sign In</span>
      </div>
      <div id="buttonSignOut" class="btn" (click)="logout()" *ngIf="isLogin">
        <img src="/assets/img-bye.png"
             alt="sign in emoji"/>
        <span>Log out</span>
      </div>
    </div>
  </div>
</header>
