/* 상단 메뉴바 */

.page-header {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 0 20px;
  margin: 0 40px 40px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-header .page-header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header-brand img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.page-header-brand .logo-title {
  font-size: 1.33rem;
  line-height: 1.77rem;
}

.page-header .page-header-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.88rem;
}

.page-header-navi .page-header-navi-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header-navi .page-header-navi-items .navi-item {
  margin-right: 30px;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.navi-item:focus {
  outline: 0;
  border: 0;
}

.navi-item:active {
  color: #666;
}

.page-header-navi div#buttonSignIn,
.page-header-navi div#buttonLogOut{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}

.page-header-navi div#buttonSignIn img,
.page-header-navi div#buttonLogOut img{
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.page-header-navi div#buttonSignIn span,
.page-header-navi div#buttonLogOut span{
  line-height: 42px;
}
