html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

h1 > span {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "Poppins", sans-serif;
  line-height: 140%;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  margin: 0;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  max-width: 680px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0 60px 0;
  margin: 0 auto;
}

.section h2,
.section h3,
.section h4 {
  margin-bottom: 6px;
}

.content-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-columns .column-2 {
  width: 48%;
}

.content-columns .column-3 {
  width: 31%;
}

.content-columns p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  cursor: pointer;
}

.btn:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
}

.btn-primary {
  color: white;
  background-color: #0066ff;
}

.btn-primary:active {
  background-color: #0056d6;
}

.badge-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 22px;
  width: 24px;
  height: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.img-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  border-radius: 12px;
  background-color: #f8f8f8;
  margin: 15px 0;
  padding: 8%;
}

a.link-outer {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 0.88rem;
  color: #0066ff;
}
a.link-outer:active {
  color: #0056d6;
}

/* 상단 메뉴바 */

.page-header {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 0 20px;
  margin: 0 40px 40px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-header .page-header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header-brand img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.page-header-brand .logo-title {
  font-size: 1.33rem;
  line-height: 1.77rem;
}

.page-header .page-header-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.88rem;
}

.page-header-navi .page-header-navi-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header-navi .page-header-navi-items .navi-item {
  margin-right: 30px;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.navi-item:focus {
  outline: 0;
  border: 0;
}

.navi-item:active {
  color: #666;
}

.page-header-navi div#buttonSignIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}

.page-header-navi div#buttonSignIn img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.page-header-navi div#buttonSignIn span {
  line-height: 42px;
}

/** Section CTA **/
.section-cta h1 {
  margin-bottom: 15px;
}

.section-cta div#buttonCTA {
  width: 320px;
  height: 60px;
  border-radius: 12px;
}

.section-cta .btn-primary span {
  margin-left: 12px;
  opacity: 0.6;
}

.section-cta .img-hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 60px;
  background-color: #f8f8f8;
}

/** Section Try First **/

.section-trial p span {
  color: #666;
}

.section-trial .try-shortcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.8rem;
  background-color: #f6f6f6;
  padding: 15px 20px;
  border-radius: 12px;
}

.shortcut-url {
  font-family: "poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shortcut-url .shortcut-url-host,
.shortcut-url .shortcut-vars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shortcut-url .shortcut-url-host img {
  width: 24px;
  height: 28px;
  margin: 0 10px;
}

.shortcut-url .shortcut-url-host {
  opacity: 0.4;
}

.shortcut-url .shortcut-url-keyword img {
  width: 32px;
  height: 32px;
  margin-left: 6px;
  margin-right: 6px;
}

.shortcut-url .shortcut-vars {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.shortcut-url .shortcut-vars.active {
  visibility: visible;
  height: 32px;
  margin-top: 0;
  opacity: 1;
}

.try-shortcuts .btn {
  font-size: 0.88rem;
  height: 42px;
  padding: 0 16px;
}

.section-trial .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.section-trial .btn-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 12px;
}

.section-trial .btn-group label img {
  margin-right: 10px;
  opacity: 0.4;
}

.section-trial .btn-group label:active {
  color: #bbb;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.section-trial .btn-group label:active img {
  opacity: 0.6;
}

.section-trial input[name="shortcutApp"] {
  display: none;
}

.section-trial input[name="shortcutApp"]:checked + label {
  border: 1px solid #0066ff;
  color: #0066ff;
}

.section-trial input[name="shortcutApp"]:checked + label img {
  opacity: 1;
}

/** Section You Can Do **/
.section-youcando h2 {
  margin-bottom: 30px;
}

.section-youcando .content-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding-right: 15px;
}

.section-youcando .content-image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-align: center;
}

/** Section How to use **/

.section-howtouse h2 {
  margin-bottom: 30px;
}

/** Section Why we built **/
.section-whywebuilt a {
  display: block;
  margin: 20px 0 15px 0;
}

/** Page Footer **/
.page-footer {
  width: 680px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  color: #bbb;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-footer .page-footer-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer-brand img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.4;
}

.page-footer-brand .logo-title {
  font-size: 1.33rem;
  line-height: 1.77rem;
}

.page-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.88rem;
  list-style: none;
}

.page-footer li {
  margin-left: 20px;
}

.page-footer a:active {
  color: #aaa;
}
