<div class="ico-app">
  <img src="{{connectedApplication.imgSrc}}" width="48"
       title="{{connectedApplication.appName}}"
       alt="{{connectedApplication.appName}}"/>
</div>

<!-- example -->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-asana.svg" width="48" title="Asana" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-jira.svg" width="48" title="Jira" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-confluence.svg" width="48" title="Confluence" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-bitbucket.svg" width="48" title="Bitbucket" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-gdocs.svg" width="48" title="Google Docs" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-gsheet.svg" width="48" title="Google Spreadsheet" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-gdrive.svg" width="48" title="Google Drive" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-github.svg" width="48" title="Github" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-gitlab.svg" width="48" title="Gitlab" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-gmail.svg" width="48" title="Gmail" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-linear.svg" width="48" title="Linear" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-monday.svg" width="48" title="Monday" />-->
<!--    </div>-->
<!--    <div class="ico-app">-->
<!--      <img src="../../../../assets/ico-app-quip.svg" width="48" title="Quip" />-->
<!--    </div>-->
