/** Section CTA **/
.section-cta h1 {
  margin-bottom: 15px;
}

.section-cta div#buttonCTA {
  width: 320px;
  height: 60px;
  border-radius: 12px;
}

.section-cta .btn-primary span {
  margin-left: 12px;
  opacity: 0.6;
}

.section-cta .img-hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 60px;
  background-color: #f8f8f8;
}
