<footer class="page-footer">
  <div class="page-footer-brand logo">
    <img src="../../../../assets/logo.svg" alt="logo"/><span class="logo-title">my.new</span>
  </div>
  <ul>
    <li><a href="https://www.notion.so/mynew/my-new-Service-Policies-fb2768d7073c4428907948ed8a1786f7#9603139747cd4690948a8a4a0e29f05c" target="_blank">Terms of Service</a></li>
    <li><a href="https://www.notion.so/mynew/my-new-Service-Policies-fb2768d7073c4428907948ed8a1786f7#9dce1ff5bc6c4986969f5b45feac4d21" target="_blank">Privacy Policy</a></li>
    <li><a href="mailto:team@my.new">Contact Us</a></li>
  </ul>
</footer>
