<div class="section section-whywebuilt">
  <h2>Why we built.</h2>
  <div class="img-frame">
    <img
      src="../../../../assets/img-googlenew.png"
      alt="google .new"
      width="230"
    />
  </div>
  <a href="https://whats.new" target="_blank" class="link-outer"
  >Go to Google's whats.new website
    <span><img src="../../../../assets/logo.svg" alt="outlink" width="12"/></span
    ></a>
  <p>
    <strong>.new</strong> is google's brand new domain extension, which
    focuses on creating something new online.<br/><br/>
    We love the idea of expanding the value of the web, also expecting
    more great products will join it.<br/><br/>
    However, due to the domain name system's structural restriction,
    this .new extension has a limitation in which the name's owner can
    easily monopolize user-favorite actions like play, create, note,
    etc.<br/><br/>
    It's a useful corporate branding tool. But we wanted to develop this
    idea in more user-centric and practical ways, even while keeping its
    original philosophy.
  </p>
</div>
