/* 로그인 팝업 */
#signinPopup {
  display: none;
}
#signinPopup.is-active {
  display: flex;
}
.popup-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}
.modal-popup {
  width: 440px;
  height: 480px;
  background-color: white;
  border-radius: 12px;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "poppins", sans-serif;
  font-size: 1.33rem;
  font-weight: bold;
  line-height: 70px;
  padding: 0 20px;
}
.popup-header .btn-close {
  width: 42px;
  height: 42px;
}
.popup-body .signin-banner {
  width: 100%;
  height: 160px;
  background-color: black;
  background-image: url("../../../../assets/img-signin.jpg");
  background-size: 120%;
  background-position: center center;
}
.popup-body .signin-buttons {
  margin: 30px 40px;
}
.signin-buttons > div {
  margin: 10px 0;
  padding: 10px;
}
.signin-buttons img {
  margin-right: 15px;
}
.signin-policies {
  font-size: 0.8rem;
  text-align: center;
  margin: 20px 40px;
}
.signin-policies a {
  color: #0066ff;
}
