/* 앱 목록 팝업 */

#app-list-modal {
  display: none;
}

#app-list-modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app-list-modal .modal-popup {
  width: 680px;
  height: 520px;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

#app-list-modal .modal-popup .popup-header {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

#app-list-modal .modal-popup .popup-body {
  display: flex;
}
#app-list-modal .modal-popup .app-tag {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 450px;
  padding: 20px 0;
}
#app-list-modal .modal-popup .app-tag input[name="app-list-tag"] {
  display: none;
}
#app-list-modal .modal-popup .app-tag label {
  display: block;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 0.88rem;
  padding: 8px 16px;
  margin: 8px 16px;
  color: #666;
  cursor: pointer;
  border-radius: 8px;
}
#app-list-modal
.modal-popup
.app-tag
input[name="app-list-tag"]:checked
+ label {
  background-color: #000000;
  color: #fff;
}
#app-list-modal .modal-popup .app-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 70%;
  height: 450px;
  padding: 10px;
  overflow-y: auto;
}

#app-list-modal .app-list .app-item,
#app-list-modal .app-list .app-url-item {
  position: relative;
  justify-content: flex-start;
  width: 200px;
  min-height: 95px;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 12px;
}

#app-list-modal .app-list .app-url-item {
  background-color: #f0f6ff;
}

#app-list-modal .app-list .app-url-item:active {
  background-color: #e7edf7;
}

#app-list-modal .app-list .app-name {
  margin-left: 15px;
}

#app-list-modal .app-list .app-status-text {
  display: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  color: #666;
}

#app-list-modal .is-connected .app-status-text {
  display: block;
}

#app-list-modal .app-list .app-status-icon {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #2eb96e;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

#app-list-modal .app-list .app-status-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  padding-top: 1px;
}
#app-list-modal .is-connected .app-status-icon {
  display: flex;
}
#app-list-modal .app-status-icon svg {
  fill: white;
}
