html {
  font-size: 18px;
}

bohtml {
  font-size: 18px;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

h1 > span {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "Poppins", sans-serif;
  line-height: 140%;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  margin: 0;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: #000000;
}
a.btn,
a .btn {
  text-decoration: none;
}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #bbb;
}

[data-placeholder]:focus:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  max-width: 680px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0 60px 0;
  margin: 0 auto;
}

.section h2 {
  margin-bottom: 20px;
}

.section h3,
.section h4 {
  margin-bottom: 6px;
}

.content-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-columns .column-2 {
  width: 48%;
}

.content-columns .column-3 {
  width: 31%;
}

.content-columns p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  cursor: pointer;
}

.btn:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.btn.is-disabled {
  color: #eee;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary,
.btn-save {
  color: white;
  background-color: #000000;
}

.btn-save svg {
  fill: white;
}

.btn-primary:active,
.btn-save:active {
  background-color: #000000;
}

.btn-save.is-disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-save.is-disabled svg {
  fill: black;
  opacity: 0.4;
}

.btn-save.is-disabled:active {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.btn-save.is-disabled svg {
  fill: black;
  opacity: 0.2;
}

.btn-delete {
  color: white;
  background-color: #f95353;
}

.btn-delete:active {
  background-color: #d13a3a;
}

.badge-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 22px;
  width: 24px;
  height: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.img-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  border-radius: 12px;
  background-color: #f8f8f8;
  margin: 15px 0;
  padding: 8%;
}

a.link-outer {
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 0.88rem;
  color: #000000;
}

a.link-outer:active {
  color: #111111;
}

.hidden {
  display: none !important;
}

/* 팝업 공통 */

.popup-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

.popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "poppins", sans-serif;
  font-size: 1.33rem;
  font-weight: bold;
  line-height: 70px;
  padding: 0 20px;
}

.popup-header .btn-close {
  width: 42px;
  height: 42px;
}
